[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
dataclasses-json = "*"
html-reporter = "*"
openpyxl = "*"
pandas = "*"
py2neo = "*"
pyarrow = "*"
pyyaml = "*"
rdflib = "*"
sparqlwrapper = "*"
neo4j = "*"
boto3 = "*"
pymantic = "*"
apache-airflow = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
